{% extends 'layout.html' %}
{% load static %}
{% block content %}


<!-- NOSOTROS --> 
<section class="nosotros row w-100 py-0 p-3 g-col-6" id="features">
    <div class="col-lg-6 col-img"><img class="img-fluid nosotros-img" src="https://i.imgur.com/Nq1FK1z.png"> <img class="img-fluid nosotros-img" src="https://i.imgur.com/jZS7jcN.png" > </div>
    <div class="col-lg-6 py-5">
        <div class="container">
            <div class="">
                <div class="col-md-9 offset-md-1">
                    <div class= "mt-5 text-wrap bd-highlight"> 
                        <h1>Quienes Somos</h1>
                    </div> 
                   <p class="mt-4 fw-lighter">Somos la Red de Salud Popular “Dr. Ramón Carrillo”, estamos en Chaco, Argentina desde mayo de 1989. Integramos esta organización un amplio grupo de personas no profesionales y profesionales: abogades, médicos/as, ingenieres agrónomes y personal técnico. Trabajamos asesorando a pobladores, tanto urbanes como rurales, afectades por la fumigación con agrotóxicos en distintas localidades de la provincia, acompañando los procesos de lucha y denuncia, realizando propuestas de producción sin agrotóxicos, promoviendo acciones de atención primaria en salud y atención primaria ambiental; lo cual nos permite crear lazos en toda la extensión del territorio chaqueño</p>
                </div>
            </div>
        </div>
    </div>
</section> 

<hr style="height: 10px; background-color: #dc3545; border-radius: 1rem; margin: 3rem 0;">

<!-- PROGRAMAS -->
<section id="programas">
    <div class="programas">
        <div class="row mb-5">
            <div class=" col-md-8 mx-auto text-center">
                <h6 class="text-primary"> </h6>
                <h1>Nuestros Programas</h1>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm">
                <div >
                    <h5 class="mt-4 mb-2">Red No Oxonec</h5>
                    <p>La Red “No Oxonec” (Algodón de Frontera) articula a un grupo de actores sociales, institucionales y estatales que trabajan en colaboración para llevar adelante una experiencia agroecológica de producción en sistemas agrobiodiversos sin uso de biocidas en la provincia de Chaco, Argentina.</p>
                    <p>El objetivo es fortalecer los sistemas de producción agroecológicos locales, recuperar semillas nativas y criollas y lograr el mayor porcentaje de agregado de valor en origen.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm">
                <div >
                    <h5 class="mt-4 mb-2">Producción de algodón en sistemas agroecológicos</h5>
                    <p>¿Sabías que la producción de algodón en sistemas agroecológicos brinda servicios ecosistémicos que ayudan a cuidar el ambiente y mitigar los efectos del cambio climático?</p>
                    <p>Con el algodón que producimos en proceso agroecológico se realizaron cintas, hilos y telas, las que al degradarse no dañan nuestra tierra ni contaminan las aguas.</p>
                    <p>Algodón sembrado con semillas no transgénicas, de propia multiplicación y cosechado a mano, por familias campesinas criollas y originarias de nuestro querido Chaco (desde Pampa del Indio, hasta Las Palmas y J. J. Castelli, con el algodón blanco variedad Guazuncho III INTA).</p>
                    
                </div>
            </div>
            <div class="col-lg-4 col-sm">
                <div >
                    <h5 class="mt-4 mb-2">Talleres textiles</h5>
                    <p>En el marco de la experiencia de producción de algodón agroecológico, con agregado de valor local, en agosto, se iniciaron los talleres de capacitación textil en la localidad de Las Palmas, de acuerdo a lo previsto en el proyecto Alianzas productivas - Pisear por la Asociación de Pequeños Productores del Chaco y en coordinación con la Dirección de Ind. Culturales, a través de la Fund. Carrillo, para dar respuesta a la demanda presentada por las familias y organizaciones locales  
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section><!-- PROGRAMAS -->
    
<hr style="height: 10px; background-color: #dc3545; border-radius: 1rem; margin: 3rem 0;">

<!-- TEAM -->
<section id="team">
    <div class="container-cards">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h1>Conoce a nuestro equipo</h1>
            </div>
        </div>
        
        <div class="row text-center g-4">
            <div class="card h-100 bg-dark text-white card-project " style="width: 18rem;">
                <img src="https://img-9gag-fun.9cache.com/photo/a97ywoj_460s.jpg" class="team-img-card">
                <div class="mt-3 h-100 bg-dark text-white">
                  <h5 class="card-title">Miembro 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="redes">
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                  </div>
                </div>
              </div>

             
              <div class="card h-100 bg-dark text-white card-project " style="width: 18rem;">
                <img src="https://img-9gag-fun.9cache.com/photo/a97ywoj_460s.jpg" >
                <div class="mt-3 h-100 bg-dark text-white">
                  <h5 class="card-title">Miembro 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="redes">
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                  </div>
                </div>
              </div>
              <div class="card h-100 bg-dark text-white card-project " style="width: 18rem;">
                <img src="https://img-9gag-fun.9cache.com/photo/a97ywoj_460s.jpg" >
                <div class="mt-3 h-100 bg-dark text-white">
                  <h5 class="card-title">Miembro 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="redes">
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                  </div>
                </div>
              </div>

              
              <div class="card h-100 bg-dark text-white card-project " style="width: 18rem;">
                <img src="https://img-9gag-fun.9cache.com/photo/a97ywoj_460s.jpg" >
                <div class="mt-3 h-100 bg-dark text-white">
                  <h5 class="card-title">Miembro 1</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="redes">
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                    <i class="bi bi-facebook"></i>
                  </div>
                </div>
              </div>

        </div>
    </div>
</section> 

<hr style="height: 10px; background-color: #dc3545; border-radius: 1rem; margin: 3rem 0;">

<!-- BLOG -->
   <section id="blog" class="bg-light">
    <div class="noticias">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h6 class="text-primary"></h6>
                <h1>Noticias acerca de nosotros</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="blog-post card-effect">
                    <img src="https://www.diarionorte.com/content/bucket/9/293039w750h500c.jpg.webp" >
                    <h5 class="mt-4"><a href="https://www.diarionorte.com/219104-alejandra-gomez-se-puede-producir-de-una-manera-mas-amigable-con-el-ambiente">Alejandra Gómez: "Se puede producir de una manera más amigable con el ambiente"</a></h5>
                    <p>La Red de Salud Popular Doctor Ramón Carrillo es una organización que trabaja con un equipo de coordinadores a nivel provincial. Su referente reflexiona en esta charla sobre modelos de producción, agrotóxicos y alternativas ante el modelo de monocultivo.

                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post card-effect">
                    <img src="https://www.diarionorte.com/content/bucket/4/316914w750h565c.jpg.webp" alt="">
                    <h5 class="mt-4"><a href="https://www.diarionorte.com/229361-revelan-altos-niveles-de-metales-arsenicos-y-plaguicidas-en-muestras-de-agua-en-avia-terai">Revelan altos niveles de metales, arsénicos y plaguicidas en muestras de agua en Avia Terai</a></h5>
                    <p>En el Centro Integrador Comunitario de Avia Terai se realizó la jornada de Difusión de los resultados del monitoreo ambiental. Esta actividad fue organizada por la Red de Salud Popular Ramón Carrillo y el Grupo de extensión Chaco-Exactas (FCEyN, Universidad de Buenos Aires).

                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-post card-effect">
                    <img src="https://www.chacodiapordia.com/wp-content/uploads/2020/10/avion-696x522.jpg" class="" alt="">
                    <h5 class="mt-4"><a href="https://www.chacodiapordia.com/2020/10/08/rechazo-a-la-reforma-de-la-ley-de-biocidas-implica-un-retroceso-en-la-proteccion-ambiental/">Rechazo a la reforma de la ley de Biocidas: “Implica un retroceso en la protección ambiental”</a></h5>
                    <p>La asesora legal de la Red de Salud Popular “Dr. Ramón Carrillo”, Alejandra Gómez, consideró que el proyecto del Ejecutivo para excluir a los fertilizantes de los alcances de la ley “es un intento de flexibilización a las distancias de aplicación”. Además, criticó la falta de controles actuales. Este jueves exponían ante la Comisión de Recursos Naturales y Ambiente.

                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- BLOG -->
    

{% endblock %}
