{% load static %}
<!-- Seccion 1 -->
<div class="container" style="margin-top: 5rem;">
    <div class="row align-items-center">
      <!-- Image column -->
      <div class="col-md-6">
        <img src="https://i.imgur.com/Nq1FK1z.png" class="img-fluid">
      </div>
      <!-- Text column -->
      <div class="col-md-6" >
        <h1>Red de Salud Popular Dr. Ramon Carrillo</h1>
        <div class="mt-5 text-wrap bd-highlight">
          <h5>“Frente a las enfermedades que genera la miseria, frente a la tristeza, la angustia y el
           infortunio social de los pueblos, los microbios, como causas de enfermedad, son unas
           pobres causas.”</h5> 
        </div>
        <p class="fw-lighter">
          Comprometidos con el crecimiento de un sistema democrático más representativo
          de los intereses de todos los pueblos de nuestro territorio.
        </p>
      </div>
    </div>
  </div>