{% extends 'layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<main class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card">
        <form method="post">
            {% csrf_token %}
            <h1>Restablecer contraseña</h1>
            <p>Por favor, ingresa tu nueva contraseña a continuación.</p>
            {{ form|crispy }}
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Guardar nueva contraseña</button>
            </div>
        </form>
    </div> 
</main>
{% endblock %}

