<footer class=" bg-dark text-center text-white">
  <!-- Contenedor -->
  <div class="container p-4 pb-0">
    <!-- Sección: Redes Sociales -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/REDSALUDCHACO" target="_blank" role="button"
        ><i class="bi bi-facebook"></i
      ></a>
      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/reddesaludchaco" target="_blank" role="button"
        ><i class="bi bi-instagram"></i
      ></a>
      <!-- Whatsapp -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://wa.me/543624664745" target="_blank" role="button"
        ><i class="bi bi-whatsapp"></i
      ></a>
      <!-- Mail -->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto: reddesaludchaco@yahoo.com.ar" target="_blank" role="button"
        ><i class="bi bi-envelope"></i
      ></a>
    </section>
  </div>    
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright: GRUPO N° 25 (COMISIÓN 2 - CURSO "DESARROLLO WEB")
    <br>
    <a class="text-white" href="https://empleo.chaco.gob.ar/informatorio#/" target="_blank"> Informatorio Chaco</a>
  </div>
</footer>