{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold fst-italic" href="/">Red Salud Ramon-Carrillo <img src="/static/icons/icon-red-salud.ico" class="img-fluid rounded" alt="red de salud Ramon" style="width: 30px;"> </a>        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active underline-hover" aria-current="page" href="{% url 'articulos:all_articles'%}">Articulos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active underline-hover" href="{% url 'articulos:all_category'%}">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active underline-hover" href="{% url 'About:about'%}">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active underline-hover" href="{% url 'contacts:contact'%}">Contacto</a>
                </li>
                {% if user.is_authenticated %}
                <!-- Menú desplegable "Mi Perfil" -->
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ user.image.url }}" alt="Mi Perfil" class="profile-image">
                        Perfil
                        {% if user.verified == 'verified' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(0, 149, 246)" class="x1lliihq x1n2onr6" viewBox="0 0 40 40">
                            <title>Verificado</title>
                            <path d="M19.998 3.094 14.638 0l-2.972 5.15H5.432v6.354L0 14.64 3.094 20 0 25.359l5.432 3.137v5.905h5.975L14.638 40l5.36-3.094L25.358 40l3.232-5.6h6.162v-6.01L40 25.359 36.905 20 40 14.641l-5.248-3.03v-6.46h-6.419L25.358 0l-5.36 3.094Zm7.415 11.225 2.254 2.287-11.43 11.5-6.835-6.93 2.244-2.258 4.587 4.581 9.18-9.18Z" fill-rule="evenodd"></path>
                        </svg>                        
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'usuarios:update_user' %}">Ver Perfil</a></li>
                        {% if user.is_colaborador %}
                            <li><a class="dropdown-item" href="{% url 'articulos:create_category' %}">Crear Categoria</a></li>
                            <li><a class="dropdown-item" href="{% url 'articulos:article_create' %}">Publicar Articulos</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'usuarios:confirm_logout_user' %}?next={{request.path }}">Cerrar sesión</a></li>
                    </ul>
                </li>
                {% else %}
                <!-- Estos botones se ocultarán en el menú colapsado -->
                <li class="nav-item d-lg-none">
                    <a href="{% url 'usuarios:login_user' %}" class="btn btn-secondary btn-sm">Iniciar sesión</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a href="{% url 'usuarios:signup_user' %}" class="btn btn-primary btn-sm">Registrarse</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <!-- Estos botones estarán visibles solo en modo responsive -->
        {% if not user.is_authenticated %}
        <div class="d-none d-lg-flex">
            <a href="{% url 'usuarios:login_user' %}" class="btn btn-secondary btn-sm me-2">Iniciar sesión</a>
            <a href="{% url 'usuarios:signup_user' %}" class="btn btn-primary btn-sm">Registrarse</a>
        </div>
        {% endif %}
    </div>
</nav>


