{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="text-center mt-4">
        <h1>Todos las Categorias</h1>
    </div>
    <hr>
    <div class="row justify-content-center"> 
        <div class="col-md-8">
            <ol class="list-group list-group-numbered">
                {% for category in categories_page %}
                    <li class="list-group-item d-flex justify-content-between align-items-start mb-2">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ category.name }}</div>
                            {{ category.content }}
                        </div>
                        <span class="badge bg-secondary rounded-pill">{{ category.count }}</span>
                        <a href="{% url 'articulos:all_category_articles' category.id %}" class="btn btn-primary ms-2">Ver Todos</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>

<!-- Seccion de vista del contenido de un articulo -->
{% include 'Articulos/category/category_pagination.html' %}
<!-- ############################################################ -->
</div>
{% endblock %}
