{% extends 'layout.html' %}
{% load crispy_forms_tags %}


{% block content %}
<main class="container">
  <h1  class=" mb-4 text-center fs-6 text-decoration-underline">Actualizar el Artículo</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <div class="d-grid mt-4">
          <button class="btn btn-primary" type="submit">Guardar cambios</button>
        </div>
        <div class="d-grid mt-4">
          <a href="{% url 'articulos:detail_article' post_id=article.pk %}" class="btn btn-secondary">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</main>      
{% endblock %}


